$header-background: $color-white;
$header-title: $color-orange;
$border-color: $color-grey;
$button-color: $light-black;
$font-color: $color-dark-grey;
$item-font-color: $color-black;
$error-message: $color-red;
$shadow-color-black: $color-black-opacity;
$loader-background-color: $color-black--light-opacity;




