@import "src/styles";

.filter {
  max-width: 220px;

  &__list {
    list-style-type: none;
    padding: 20px 20px 0 20px;
  }

  & li {
    margin-bottom: 15px;

      & input {
        margin-right: 10px;
        cursor: pointer;
    }

    & span {
      font-style: normal;
      font-weight: normal;
      font-size: $font-size;
      line-height: 19px;
      color: $color-dark-grey;
      cursor: pointer;
    }
  }

  &__error {
    display: block;
    width: 85%;
    font-size: 12px;
    margin: 0 auto;
    color: $error-message;
    text-align: center;
  }


  &__button {
    margin: 20px 0 15px 0;
    display: flex;
    justify-content: center;

    & button {
      font-family: $font-family-roboto;
      background: $button-color;
      width: 180px;
      height: 39px;
      border-radius: 10px;
      font-size: $font-size;
      font-style: normal;
      font-weight: bold;
      line-height: 19px;
      color: $color-white;
      text-transform: uppercase;
      border: 0;
      outline: 0;

      &:hover {
        cursor: pointer;
        background: darken($button-color, 20%);
      }

      &:disabled {
        cursor: not-allowed;
        background: $button-color;
      }
    }
  }
}

